* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: burlywood;
    
}

.Greetings {
  position: relative;
  z-index: 1;        
  text-align: center;
  padding-top: 50px;
}

form {
    color:blanchedalmond;
}

.no-report-message {
    color:aquamarine;
    font-style: italic;
    margin-top: 10px;
}
